
#top_head_container{
   background-color: rgb(6, 244, 6);
   width: 100%;
   height: 60px;
   margin-top: -10px;
   margin-left: -5px;
   position: fixed; 
   
}
      
h1{
   font-weight: bold;
   float: left;
   font-size: 35px;
   margin: 10px;  
}
.images{
  
   padding-left: 112rem;
   padding-top: 10px;
   
}
.img1{
   width: 40px;
   height: 40px; 
   
}
.img2{
   width: 40px;
   height: 40px; 
  
}


.heading{
   text-align: center;
   margin-top:10px;
   font-size: 40px;
   background-image: url('/photos/background\ image.webp');
   width: 100%;
   height: 400px;
   padding-top: 200px;
}
.second_heading{
   padding: 20px;
  padding-top: 50px;
  text-align: left;
  font-size: 25px;
  padding-left: 15%;
  padding-right: 15%;
  
}
.second_heading_child{
   border-left: solid 2px rgb(171, 167, 196);
   padding: 12px;
}
.paragraph{
   
   padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
}
.paragraph_heading1{
   font-size: 30px;
   font-weight: bold;
}
.paragraph_heading1_child{
   padding: 20px;
   /* padding-left: 50px; */
   width: auto;
   height: 15px;
   color: white;
   background-color: black;
   margin: 0px;
   
}
.paragraph_heading1_child_p{
   padding-left: 50px;
}
.amazon{
   width: 305px;
   height: 213px;
   float: left;
   padding-left: 10px;
   margin-top: -24px;
}
.amazon_head_up{
   
   border-left: 5px solid rgb(28, 21, 239);
   background-color: rgb(240, 245, 209);
   padding: 20px;
   
}
.get_now{
   margin: 20px;
   padding: 10px;
   color: white;
   background-color: rgb(247, 118, 78);
   font-size: 15px;
   font-weight: solid;
   text-align: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.alibaba{
   width: 205px;
   height: 213px;
   float: left;
   margin: 20px;
}
.aliexpress-text{
   margin: 0px;
   margin-top: 275px;
}


